@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@* 
@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

img src="~/img/Tulips.jpg" class="card-img-top"">

<img src="~/img/Japanese.jpg" class="card-img-top" >

<div class="about-section">
    <h1>About Us Page</h1>
    <p>When choosing plants for your landscape, there are a few considerations you should keep in min inclusing color,shape,size,growing zone and bloom type.</p>
    Some text about who we are and what we do.</p>
    <p>We believe in what we do and sell and we work hard to bring you the best plants in the business.</p>
    <p>It takes great people to grow, ship, and sell great plants. That’s why our in-house customer service team of experienced gardeners are available by phone or email to help you with your questions</p>
    <p>Thank you for shopping with us and taking time to share your experience with us via email or reviews. Let us know how we can help you</p>
</div> *@