@{
    ViewData["Title"] = "Home Page";
}

<div class="my-2"">
    
   <form class="row row-cols-lg-auto g-3 align-items-center">
   

  <div class="col-12">
    <label class="visually-hidden" for="inlineFormSelectPref">Genres</label>
    <select class="form-select" id="genreId">
      <option selected>Choose...</option>
      <option value="1">Perennials</option>
      <option value="2">Full Sun Plants</option>
      <option value="3">Shade Plants</option>
      <option value="4">Evergreens</option>

    </select>
  </div>

   <div class="col-12">
        <label class="visually-hidden" for="inlineFormInputGroupUsername">Search by flower name</label>
         <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" id="" placeholder="Search by flower name">
                 </div>
          </div>

 

  <div class="col-12">
    <button type="submit" class="btn btn-primary"Search products</button>
  </div>
</form>

    
</div>

 <div class="text-center">
    <h1 class="display-4">Welcome to your DREAMGARDEN</h1>
</div> 

<div class="w-100 d-flex flex-wrap">
    @for(int i = 1; i <= 8; i++)
    {
        <div class="card mx-2 mb-5 mt-5" style="width: 16rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Flower Name</h5>
                <p class="card-text">
                Latin description:
                Type:
                Price:
                </p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
    }
    
    

    
</div>
