@{
    ViewData["Title"] = "Home Page";
}

<!--Title-->
<div class="text-center">
    <h1 class="display-4">Welcome to your DREAMGARDEN</h1>
    </div>
</div>
</div>


<div class="my-2"">
    
   <form class="row row-cols-lg-auto g-3 align-items-center">
   
  <!--Add genre selection-->
  <div class="col-12">
    <label class="visually-hidden" for="inlineFormSelectPref">Genres</label>
    <select class="form-select" id="genreId">
      <option selected>Choose...</option>
      <option value="1">Climbing Plants</option>
      <option value="2">Evergreens</option>
      <option value="3">Full Sun Plants</option>
      <option value="4">Perennials</option>
      <option value="5">Shade Plants</option>
      <option value="6">Water Plants</option>
      
      

    </select>
  </div>

  <!--Add search bar-->
   <div class="col-12">
        <label class="visually-hidden" for="inlineFormInputGroupUsername">Search by flower name</label>
         <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" id="" placeholder="Search by flower name">
                 </div>
          </div>

 

  <div class="col-12">
    <button type="submit" class="btn btn-primary"Search products</button>
  </div>
</form>

    
</div>




<div class="w-100 d-flex flex-wrap">
    @* @for(int i = 1; i <= 24; i++)
    {
        <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
            <img src="~/img/Tulips.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Flower Name</h5>
                <p class="card-text">
                Latin description:
                Type:
                Price:
                </p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
    } *@


    <!--Define the properties of the displayed cards here-->
    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Hydrangea Annabelle.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Hydrangea blue.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Hydrangea pink.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Hydrangea red.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>


    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Acer palmatum Orange Dream.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Acer palmatum red select.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Acer palmatum Weeper.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Azaleea pink.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Azaleea red.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Azallea lila.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Bambus nandina.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Dracilla berberis.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
    
     <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Ipomoea pink.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Ipomea lila.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
    

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Lavanda.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>


    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Paeonia.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>


    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Wisteria.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>


    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Nymphae White.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>



    
    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Roses pink.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>



    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Roses yellow.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Pampas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>



    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Pinus nera.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>




    

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Nymphaea Pink.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Cryptomeria japonica.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Eunoymous japonica.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>


    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Juniperus Blue Chip.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Juniperus Blue Star.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Juniperus Holger.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Weigela.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>



   <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Imperata Red Baron.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Flower Name</h5>
        <p class="card-text">
            Latin description:
            Type:
            Price:
        </p>
        <a href="#" class="btn btn-primary">Add to cart</a>
   </div>
</div>

    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Lingustrum vulgaris.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>


    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Picea abies.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>


    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Picea glauca globosa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>


    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Picea pungens.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>


    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Primula.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>


    <div class="card mx-2 mb-4 mt-5" style="width: 16rem;">
        <img src="~/img/Larix weeper.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Flower Name</h5>
            <p class="card-text">
                Latin description:
                Type:
                Price:
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

</div>
