@model TotalSoldProductsVm


<h3>Total products sold per month</h3>
@if (Model != null)
{
    <div>
        
        
        @if (Model.TotalSoldProducts.Count() == 0)
        {
            <div class="my-3" style="font-size:16px; font-weight:bold">
                No records found
            </div>
        }
        else
        {
            <table style="width: 50%;" class="table table-striped">
                <thead>
                <th>Total Price</th>
                </thead>

                <tbody>
                    @foreach (var item in Model.TotalSoldProducts)
                    {
                        <tr>
                            <td>
								@item.Price Euro
							</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}
else
{
    <h4>Something went wrong</h4>
}